*
{
	margin:0;
	padding: 0;
}


header
{
       background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5)),url(img1.jpg);
       height: 97vh;
       background-size: cover;
       background-position: center;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 20px;
}
.main-nav li
{
    display:inline-flex;
}
.main-nav li a
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto",sans-serif;
	font-size: 15px;

}
.main-nav li.active a
{
	border: 1px solid white;
}

.main-nav li:hover
{
	border:3px solid white;
        transition: all 0.3s ease-in;
}

.logo img
{
	width:180px;
	height: auto;
        float: left;
}

body
{
	font-family: monospace;
}

.row
{
	max-width: 1500px;
	margin:auto;
}

.hero
{
	position: absolute;
	width: 1200px;
	margin-left: 0px;
	margin-top: 0px;
}

h1
{
	color: white;
	text-transform: uppercase;
	font-size:70px;
	text-align: center;
	margin-top: 270px;
        margin-left: 440px;
}
.button
{
	margin-top: 30px;
	margin-left: 440px;
        font-family: "Roboto",sans-sarif;
}

.btn
{
	border: 2px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 20px;
	text-transform: uppercase;
}
.btn-one
{
	background-color: green;
	font-family: "Roboto",sans-sarif;

}
.btn-two
{
	font-family: "Roboto",sans-sarif;

}
.btn-two:hover
{
	background-color: green;
        transition: all 0.5s ease-in;

}
footer
{
	background-color: black;
	font-family: "Roboto",comic-sams;
        font-size: 20px;
        color: white;
	padding: 5px 5px;
}